@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.logo {
  position: absolute;
  top: 20px;
  left: 13px;
}

.title {
  position: absolute;
  width: 98px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0D062D;
  top: 20px;
  left: 40px;
}

.victors {
  position: absolute;
  top: 23px;
  left: 200px;
  height: 18px;
}

.nav-line {
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px solid #DBDBDB;
  top: 65px;
}

.side-line {
  position: fixed;
  width: 1px;
  height: 100%;
  border: 1px solid #DBDBDB;
  left: 240px;
}

.search {
  position: absolute;
  background-color: #F5F5F5;
  left: 280px;
  top: 10px;
  padding: 8px;
  box-sizing: border-box; 
  width: 400px;
  height: 40px;
  border-radius: 6px; 
}

.search::placeholder {
  padding-left: 35px;
}

.zoom {
  position: absolute;
  left: 290px;
  top: 20px;
}

.navItems {
  position: absolute;
  top: 15px;
  right: 300px;
}

.user {
  position: absolute;
  width: 113px;
  height: 19px;
  font-family: 'Inter';
  font-weight: 400;
  color: #0D062D;
  top: 10px;
  right: 140px;
}

.location {
  position: absolute;
  width: 62px;
  height: 17px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #787486;
  top: 35px;
  right: 140px;
}

.user-img {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  right: 75px;
  top: 10px;
}

.victor {
  position: absolute;
  right: 50px;
  top: 30px;
}

.sideItems {
  position: absolute;
  left: 30px;
  top: 100px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #787486;
}

.side-hr-line {
  position: absolute;
  width: 225px;
  height: 1px;
  border: 1px solid #DBDBDB;
  top: 325px;
  left: 7px;
}

.myProjects {
  position: absolute;
  top: 350px;
  left: 30px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #787486;
}

.add {
  position: absolute;
  top: 350px;
  left:200px;
}

.project-items {
  position: absolute;
  top: 400px;
  left:20px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #787486;
}

.active {
  color: #0D062D;
  width: 225px;
  height: 39px;
  background: rgba(80, 48, 229, 0.08);
  border-radius: 6px;
}

.dotHidden {
  display: none;
}

.circles {
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.circle1 {
  background-color:#7AC555;
}

.circle2 {
  background-color:#FFA500;
}

.circle3 {
  background-color:#E4CCFD;
}

.circle4 {
  background-color:#76A5EA;
}

.side-card {
  position: absolute;
  width: 206px;
  height: 200px;
  background: #e4e4e4;
  border-radius: 16px;
  left: 20px;
  top: 600px;
}

.lamp {
  position: absolute;
  width: 66px;
  height: 66px;
  background: #e4e4e4;
  left: 90px;
  top: 570px;
  border-radius: 100%;
  opacity: 0.9;
}

.lamp-bg {
  position: absolute;
  width: 33px;
  height: 33px;
  background: rgba(252, 214, 74, 0.7);
  filter: blur(17px);
  left: 105px;
  top: 580px;
}

.lamp-img {
  position: absolute;
  left: 105px;
  top: 585px;
  width: 32px;
  height: 32px;
}

.card-title {
  position: absolute;
  left: 40px;
  top: 40px;
}

.card-text {
  position: absolute;
  left: 4px;
  top: 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #787486;
}

.header {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 56px;
  text-transform: capitalize;
  color: #0D062D;
  left: 280px;
  top: 100px;
}

.rectangle {
  position: absolute;
  width: 23px;
  height: 23px;
  background: rgba(80, 48, 229, 0.2);
  border-radius: 8px;
}

.rec-edit {
  left: 550px;
  top: 120px;
}

.rec-link {
  left: 600px;
  top: 120px;
}

.plus {
  position: absolute;
  right: 320px;
  top: 120px;
}

.invite {
  color: #5030E5;
  position: absolute;
  right: 250px;
  top: 115px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
}

.user1 {
  position: absolute;
  right: 190px;
  top: 110px;
  width: 45px;
  height:45px;
}

.user2 {
  position: absolute;
  right: 157px;
  top: 110px;
  width: 45px;
  height: 45px;
}

.user3 {
  position: absolute;
  right: 123px;
  top: 110px;
  width: 45px;
  height: 45px;
}

.user4 {
  position: absolute;
  right: 93px;
  top: 110px;
  width: 45px;
  height: 45px;
}

.more {
  position: absolute;
  right: 60px;
  top: 110px;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  background: #F4D7DA;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  color: #D25B68;
  font-weight: 500;
  font-size: 20px;
}

.h-btns {
  position: absolute;
  width: 122px;
  height: 40px;
  border: 1px solid #787486;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
  color: #787486;
  box-sizing: border-box;
}

.f-btn {
  left: 280px;
  top: 190px;
}

.t-btn {
  left: 420px;
  top: 190px;
}

.share-btn {
  right: 180px;
  top: 185px;
}

.pause {
  position: absolute;
  right: 110px;
  top: 185px;
  width: 40px;
  height: 40px;
  background: #5030E5;
  border-radius: 6px;
}

.kanban {
  position: absolute;
  width: 354px;
  height: 625px;
  background: #F5F5F5;
  border-radius: 16px 16px 0px 0px;
}

.to-do {
  left: 280px;
  top: 280px;
}

.progres {
  left: 680px;
  top: 280px;
}

.done {
  left: 1080px;
  top: 280px;
}

.cards {
  position: absolute;
  width: 314px;
  height: 177px;
  background: #FFFFFF;
  border-radius: 16px;
}

.card1 {
  left: 15px;
  top: 60px; 
}
